<!DOCTYPE html>
<!DOCTYPE html>
{% extends 'Apped/base.html' %}

{% block title %}
    <title>Index</title>
{% endblock %}

{% block body %}
    <h1 class="si_h1">This is the signup page</h1>
    {% if registered %}
        <h2 class="si_h2">Thank you for signing up, you will be contacted via email as soon as the 
            site is online
        </h2>

    {% else %}
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{user_form.as_p}}
            {{profile_form.as_p}}
            <input type="submit" value="Register">
        </form>
    {% endif %}
{% endblock %}